
<nav class="bg-pink-500 border-gray-200 px-2 sm:px-4 py-3">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a [routerLink]="['/home']" class="flex items-center">
      <img src="assets/image4.png" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo" />
      <span class="self-center text-xl text-white font-semibold whitespace-nowrap">Perfil Pet</span>
    </a>  
  </div>
</nav>


<div class="px-20 py-10">
  <div>
    <div class="md:flex md:flex-col md:gap-6">
      <div>
        <div class="px-4 sm:px-0">
          <h3 class="text-lg font-medium leading-6 text-gray-800">Cadastre o seu pet</h3>
        </div>
      </div>
    </div>

    <div class="mt-10 sm:mt-0">
      <div class="md:flex md:flex-col md:gap-6">
        <div class="mt-5 md:mt-0">
          <form class="flex flex-col">
            <div class="overflow-hidden sm:rounded-md">
              <div class="bg-white px-4 py-5 sm:p-6">
                <form [formGroup]="formCadastroPet" (ngSubmit)="salvar()" class="flex flex-col gap-6">
                  <div class="col-span-6">
                    <label class="block text-sm font-medium text-gray-700">Foto</label>
                    <div class="mt-1 flex items-center">
                      <span class="inline-block h-12 w-12 overflow-hidden rounded-full bg-gray-100">
                        <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                          <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                        </svg>
                      </span>
                      <button type="button" class="ml-5 rounded-md bg-pink-500 py-2 px-3 text-sm font-medium leading-4 text-white shadow-sm hover:bg-pink-400 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2">Change</button>
                    </div>
                  </div>
  
                  <div class="col-span-6">
                    <label for="email-address" class="block text-sm font-medium text-gray-800">Nome</label>
                    <input formControlName="nome" type="text" class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-pink-600 focus:outline-none" id="exampleFormControlInput2"/>
                  </div>
  
                  <div class="col-span-6">
                    <label for="email-address" class="block text-sm font-medium text-gray-800">Espécie</label>
                    <input formControlName="especie" type="text" class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-pink-600 focus:outline-none" id="exampleFormControlInput2"/>
                  </div>
  
                  <div class="col-span-6">
                    <label for="email-address" class="block text-sm font-medium text-gray-800">Gênero</label>
                    <input formControlName="genero" type="text" class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-pink-600 focus:outline-none" id="exampleFormControlInput2"/>
                  </div>
  
                  <div class="col-span-6">
                    <label for="email-address" class="block text-sm font-medium text-gray-800">Raça</label>
                    <input formControlName="raca" type="text" class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-pink-600 focus:outline-none" id="exampleFormControlInput2"/>
                  </div>
  
                  <div class="col-span-6">
                    <label for="email-address" class="block text-sm font-medium text-gray-800">Data de nascimento</label>
                    <input formControlName="dataNasc" type="text" class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-pink-600 focus:outline-none" id="exampleFormControlInput2"/>
                  </div>
  
                  <div class="col-span-6">
                    <label for="email-address" class="block text-sm font-medium text-gray-800">Idade</label>
                    <input formControlName="idade" type="text" class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-pink-600 focus:outline-none" id="exampleFormControlInput2"/>
                  </div>
  
                  <div class="col-span-6">
                    <label for="email-address" class="block text-sm font-medium text-gray-800">Porte</label>
                    <input formControlName="porte" type="text" class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-pink-600 focus:outline-none" id="exampleFormControlInput2"/>
                  </div>
  
  
                  <div class="col-span-6">
                    <label for="email-address" class="block text-sm font-medium text-gray-800">Cor</label>
                    <input formControlName="cor" type="text" class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-pink-600 focus:outline-none" id="exampleFormControlInput2"/>
                  </div>
                  
                  <div class="space-y-5">
                    <p class="block text-sm font-medium text-gray-800">Castrado</p>
                    <div class="flex items-center mb-4">
                      <input formControlName="sim" id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4 bg-pink-500 text-pink-500  border-pink-300">
                      <label for="default-radio-1" class="ml-2 text-sm font-medium text-gray-800">Sim</label>
                    </div>
                    <div class="flex items-center">
                      <input formControlName="não" checked id="default-radio-2" type="radio" value="" name="default-radio" class="w-4 h-4 text-pink-600 bg-pink-500 border-pink-300">
                      <label for="default-radio-2" class="ml-2 text-sm font-medium text-gray-800">Não</label>
                    </div>
                  </div>

                  <div class="py-5">
                    <button type="submit" class=" text-left inline-flex justify-center rounded-md border border-transparent bg-pink-500 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-pink-400 focus:outline-none focus:ring-2 focus:ring-pink-500 focus:ring-offset-2">Salvar</button>
                  </div>                  
                </form>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>