<app-menu></app-menu>
<div class="grid grid-cols-1 md:grid-cols-4 gap-8 p-10">
    <div *ngFor="let pet of pets">
        <div class="pt-5 w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-md">
            <div class="flex flex-col items-center mb-10">
                <img id="{{pet.imagem}}" class="w-24 h-24 mb-3 rounded-full shadow-lg" src="#"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900">{{pet.nome}}</h5>
                <!-- <span class="text-sm text-gray-500">{{pet.raça}}</span> -->
                <div class="flex mt-4 space-x-3 md:mt-6">
                    <a [routerLink]="['/perfil', pet.id]" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-pink-500 rounded-lg hover:bg-pink-400 focus:ring-4 focus:outline-none focus:ring-pink-300">Ver Perfil</a>
                </div>
            </div>
        </div>
    </div>
</div>

