<!-- 
<nav class="bg-pink-500 border-gray-200 px-2 sm:px-4 py-2.5">
    <div class="container flex items-center justify-between mx-auto">
        <a class="flex items-center">
            <img src="assets/image4.png" class="h-6 mr-3 sm:h-9"/>
            <span class="self-center text-xl text-white font-semibold whitespace-nowrap">Perfil Pet</span>
        </a>
        Dropdown menu
        <div class="md:hidden">
            <button (click)="openClose()" id="dropdownDefault" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center" type="button"> 
                <span class="sr-only">Open main menu</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>
            <div id="dropdown" class="visivel z-10 w-44 bg-pink-500 rounded divide-y divide-gray-100 shadow">
                <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownDefault">
                    <li>
                        <a [routerLink]="['/home']" class="block text-white md:border-0">Home</a>
                    </li>
                    <li>
                        <a [routerLink]="['/cadastrar/pet']" class="block text-white md:border-0">Cadastrar Pet</a>
                    </li>
                    <li>
                        <a [routerLink]="['']" class="block text-white md:border-0">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col p-1 mt-4 border border-pink-100 rounded-lg bg-pink-500 md:flex-row md:space-x-4 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-pink-500">
                <li class="flex items-center justify-center gap-1 md:hover:bg-pink-300 rounded p-2 cursor-pointer">
                    <img src="assets/home.svg" class="w-4">
                    <a [routerLink]="['/home']" class="block text-white md:border-0">Home</a>
                </li>
                <li class="flex items-center justify-center gap-1 md:hover:bg-pink-300 rounded p-2 cursor-pointer">
                    <img src="assets/cadastrarpet.svg" class="w-4">
                    <a [routerLink]="['/cadastrar/pet']" class="block text-white md:border-0">Cadastrar Pet</a>
                </li>
                <li class="flex items-center justify-center gap-1 md:hover:bg-pink-300 rounded p-2 cursor-pointer">
                    <img src="assets/sair.svg" class="w-4">
                    <a [routerLink]="['']" class="block text-white md:border-0">Sair</a>
                </li>
            </ul>
      </div>
    </div>
</nav>
 -->

<nav class="bg-pink-500">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center md:justify-between">
                <div class="flex flex-shrink-0 items-center">
                    <a class="flex items-center">
                        <img src="assets/image4.png" class="h-6 mr-3 sm:h-9"/>
                        <span class="self-center text-xl text-white font-semibold whitespace-nowrap">Perfil Pet</span>
                    </a>
                </div>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <ul class="flex flex-col p-1 mt-4 border border-pink-100 rounded-lg bg-pink-500 md:flex-row md:space-x-4 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-pink-500">
                            <li class="flex items-center justify-center gap-1 md:hover:bg-pink-300 rounded p-2 cursor-pointer">
                                <img src="assets/home.svg" class="w-4">
                                <a [routerLink]="['/home']" class="block text-white md:border-0">Home</a>
                            </li>
                            <li class="flex items-center justify-center gap-1 md:hover:bg-pink-300 rounded p-2 cursor-pointer">
                                <img src="assets/cadastrarpet.svg" class="w-4">
                                <a [routerLink]="['/cadastrar/pet']" class="block text-white md:border-0">Cadastrar Pet</a>
                            </li>
                            <li class="flex items-center justify-center gap-1 md:hover:bg-pink-300 rounded p-2 cursor-pointer">
                                <img src="assets/sair.svg" class="w-4">
                                <a [routerLink]="['']" class="block text-white md:border-0">Sair</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <!-- Mobile menu button-->
                    <button (click)="openClose()" type="button" class="inline-flex items-center justify-center rounded-md p-2 text-white hover:bg-pink-400 focus:outline-none" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                        <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div id="dropdown" class="visivel absolute bottom-0 top-10 w-44 bg-pink-500 rounded divide-gray-100 shadow">
                    <ul class="py-1 text-sm text-gray-700" aria-labelledby="dropdownDefault">
                        <li>
                            <a [routerLink]="['/home']" class="block text-white md:border-0">Home</a>
                        </li>
                        <li>
                            <a [routerLink]="['/cadastrar/pet']" class="block text-white md:border-0">Cadastrar Pet</a>
                        </li>
                        <li>
                            <a [routerLink]="['']" class="block text-white md:border-0">Sair</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
  


  